In [1]:
import pandas as pd

In [2]:
hmm=pd.read_csv('hm_240.csv')
hm=hmm.drop('BIS', axis=1)
hm.head()

   hm_mode0  hm_mode1  hm_mode2  hm_mode3  hm_mode4
0  0.029874  0.216751  0.498825  0.917527  1.580253
1  0.029534  0.217155  0.498369  0.917295  1.580039
2  0.029085  0.216342  0.498255  0.916730  1.579027
3  0.029416  0.215364  0.499253  0.915780  1.578762
4  0.029539  0.215941  0.498738  0.915087  1.577357

In [3]:
hm_bis=hmm['BIS']

In [4]:
hcc=pd.read_csv('hc_240.csv')
hc=hcc.drop('BIS', axis=1)
hc.head()

   hc_mode0  hc_mode1  hc_mode2  hc_mode3  hc_mode4
0  8.050302  1.631236  1.088361  1.034774  1.003874
1  8.150453  1.626729  1.086536  1.034506  1.003925
2  8.144744  1.621787  1.082070  1.033989  1.004029
3  7.825208  1.611307  1.077353  1.032881  1.003957
4  7.660677  1.587673  1.078586  1.031961  1.004326

In [5]:
per=pd.read_csv('perm_240.csv')
perm=per.drop('BIS', axis=1)
perm.head()

   Perment_mode0  Perment_mode1  Perment_mode2  Perment_mode3  Perment_mode4
0       1.527050       1.670612       1.845038       2.239285       2.561700
1       1.519566       1.671168       1.846422       2.237871       2.561487
2       1.514377       1.670594       1.845498       2.235560       2.561187
3       1.493855       1.659938       1.844647       2.234661       2.561173
4       1.484781       1.651340       1.841932       2.233372       2.561097

In [6]:
pe=pd.read_csv('pet_240.csv')
pet=pe.drop('BIS', axis=1)
pet.head()

   pet_mode0  pet_mode1  pet_mode2  pet_mode3  pet_mode4
0   1.004011   1.005551   1.007696   1.014048   1.024082
1   1.003938   1.005557   1.007713   1.014019   1.024066
2   1.003889   1.005551   1.007701   1.013973   1.024044
3   1.003681   1.005430   1.007690   1.013956   1.024044
4   1.003595   1.005333   1.007654   1.013933   1.024039

In [7]:
dis=pd.read_csv('disp_240.csv')
disp=dis.drop('BIS', axis=1)
disp.head()

   Disp_mode0  Disp_mode1  Disp_mode2  Disp_mode3  Disp_mode4
0    1.011207    1.802160    1.894987    1.692908    1.933693
1    1.005278    1.796543    1.895612    1.691328    1.936389
2    1.011198    1.795691    1.894156    1.688970    1.935533
3    1.006050    1.795117    1.896112    1.692011    1.933940
4    1.018039    1.799841    1.895663    1.692825    1.935395

In [8]:
lzz=pd.read_csv('lzc_240.csv')
lzc=lzz.drop('BIS', axis=1)
lzc.head()

   lzc_mode0  lzc_mode1  lzc_mode2  lzc_mode3  lzc_mode4
0        946        674        939       1016       1040
1        958        685        954       1040       1037
2        967        689        972       1055       1022
3        980        700        982       1061       1008
4        985        708        984       1066        983

In [9]:
hf=pd.read_csv('hfd_240.csv')
hfd=hf.drop('BIS', axis=1)
hfd.head()

   hfd_mode0  hfd_mode1  hfd_mode2  hfd_mode3  hfd_mode4
0   1.021725   1.133565   1.527320   1.966836   2.104734
1   1.020940   1.134876   1.527771   1.967412   2.103761
2   1.020348   1.135090   1.527777   1.967805   2.102344
3   1.019868   1.133046   1.530975   1.967831   2.102198
4   1.019370   1.133134   1.529221   1.967952   2.099486

In [10]:
spe=pd.read_csv('spec_240.csv')
spec=spe.drop('BIS', axis=1)
spec.head()

   spec_mode0  spec_mode1  spec_mode2  spec_mode3  spec_mode4
0    5.491553    7.753941    7.955043    8.539840    8.330067
1    5.475448    7.756186    7.934930    8.560844    8.335514
2    5.459920    7.764189    7.905380    8.525388    8.341033
3    5.423754    7.747289    7.955077    8.486715    8.319511
4    5.385614    7.739642    7.939855    8.462515    8.375958

In [11]:
sv=pd.read_csv('svd_240.csv')
svd=sv.drop('BIS', axis=1)
svd.head()

   svd_mode0  svd_mode1  svd_mode2  svd_mode3  svd_mode4
0   0.177467   0.699036   1.005888   1.226040   1.248794
1   0.176209   0.699625   1.004808   1.225379   1.249642
2   0.174297   0.698103   1.001865   1.223883   1.250893
3   0.175214   0.694924   1.001080   1.221243   1.250832
4   0.175365   0.694656   1.000413   1.218875   1.256844

In [12]:
dis=pd.read_csv('dispm_240.csv')
dispm=dis.drop('BIS', axis=1)
dispm.head()

   dispm_mode0  dispm_mode1  dispm_mode2  dispm_mode3  dispm_mode4
0     0.890932     1.529462     1.955624     2.064466     1.982918
1     0.889369     1.526393     1.954863     2.064637     1.980972
2     0.894728     1.525733     1.956465     2.064292     1.981530
3     0.891952     1.525425     1.954245     2.064690     1.981460
4     0.897566     1.524515     1.956559     2.064781     1.979113

In [13]:
kf=pd.read_csv('kfd_240.csv')
kfd=kf.drop('BIS', axis=1)
kfd.head()

   kfd_mode0  kfd_mode1  kfd_mode2  kfd_mode3  kfd_mode4
0   1.718635   2.208606   3.155254   3.966252   4.796666
1   1.711795   2.192274   3.170502   3.953469   4.813854
2   1.681552   2.186810   3.121893   3.932104   4.714210
3   1.726925   2.185232   3.155793   3.814624   4.550734
4   1.675907   2.239480   3.155627   3.914521   5.158006

In [14]:
det=pd.read_csv('detf_240.csv')
detf=det.drop('BIS', axis=1)
detf.head()

   detf_mode0  detf_mode1  detf_mode2  detf_mode3  detf_mode4
0    1.661352    0.710188    0.261600    0.079362    0.013766
1    1.654397    0.705015    0.258498    0.080468    0.013994
2    1.656671    0.712248    0.255234    0.082829    0.014124
3    1.648908    0.710311    0.259647    0.079713    0.014431
4    1.650347    0.705824    0.258472    0.080060    0.014543

In [15]:
# concatenate the data

patient_240_data= pd.concat([hm, hc, kfd, detf, perm, pet, lzc, svd, hfd, spec, disp, dispm], axis=1)
patient_240_data['BIS']=hm_bis
patient_240_data

,hm_mode0,hm_mode1,hm_mode2,hm_mode3,hm_mode4,hc_mode0,hc_mode1,hc_mode2,hc_mode3,hc_mode4,...,Disp_mode1,Disp_mode2,Disp_mode3,Disp_mode4,dispm_mode0,dispm_mode1,dispm_mode2,dispm_mode3,dispm_mode4,BIS
0,0.029874,0.216751,0.498825,0.917527,1.580253,8.050302,1.631236,1.088361,1.034774,1.003874,...,1.802160,1.894987,1.692908,1.933693,0.890932,1.529462,1.955624,2.064466,1.982918,97.7
1,0.029534,0.217155,0.498369,0.917295,1.580039,8.150453,1.626729,1.086536,1.034506,1.003925,...,1.796543,1.895612,1.691328,1.936389,0.889369,1.526393,1.954863,2.064637,1.980972,97.7
2,0.029085,0.216342,0.498255,0.916730,1.579027,8.144744,1.621787,1.082070,1.033989,1.004029,...,1.795691,1.894156,1.688970,1.935533,0.894728,1.525733,1.956465,2.064292,1.981530,97.7
3,0.029416,0.215364,0.499253,0.915780,1.578762,7.825208,1.611307,1.077353,1.032881,1.003957,...,1.795117,1.896112,1.692011,1.933940,0.891952,1.525425,1.954245,2.064690,1.981460,97.7
4,0.029539,0.215941,0.498738,0.915087,1.577357,7.660677,1.587673,1.078586,1.031961,1.004326,...,1.799841,1.895663,1.692825,1.935395,0.897566,1.524515,1.956559,2.064781,1.979113,97.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5705,0.022843,0.204108,0.503931,0.904037,1.578140,10.283707,1.574255,1.082060,1.046006,1.003518,...,1.795675,1.880093,1.640978,1.938274,0.865074,1.517013,1.967283,2.067170,1.987745,80.7
5706,0.052495,0.199943,0.470977,0.922626,1.558838,2.285786,1.244140,1.130931,0.986659,1.007802,...,1.789297,1.883818,1.652492,1.940470,0.853923,1.510614,1.964729,2.067700,1.987860,81.2
5707,0.058695,0.192417,0.504053,0.878875,1.536522,4.571454,1.264428,1.064088,1.075871,1.009133,...,1.776554,1.890376,1.651723,1.944158,0.782861,1.503951,1.963000,2.067337,1.990227,80.7
5708,0.053175,0.210156,0.516904,0.910014,1.584504,4.405148,1.168436,1.047216,1.045917,1.005886,...,1.792287,1.879379,1.646649,1.941177,0.578782,1.516974,1.965002,2.067501,1.986701,80.0
5709,0.045750,0.210934,0.514964,0.911477,1.578773,4.537887,1.189726,1.053210,1.046352,1.005053,...,1.788232,1.888276,1.632762,1.935696,0.843925,1.512270,1.964881,2.068220,1.989039,80.1

In [16]:
patient_240_data.to_csv('Patient 240_data.csv', index=False)