In [1]:
import pandas as pd

In [2]:
hmm=pd.read_csv('hm_78.csv')
hm=hmm.drop('BIS', axis=1)
hm.head()

   hm_mode0  hm_mode1  hm_mode2  hm_mode3  hm_mode4
0  0.039770  0.280798  0.608682  1.442921  1.783390
1  0.039276  0.280162  0.610458  1.443002  1.783699
2  0.038627  0.279830  0.611846  1.442829  1.783454
3  0.039050  0.279153  0.612034  1.443320  1.783336
4  0.038910  0.279651  0.612545  1.442531  1.783134

In [3]:
hm_bis=hmm['BIS']

In [4]:
hcc=pd.read_csv('hc_78.csv')
hc=hcc.drop('BIS', axis=1)
hc.head()

    hc_mode0  hc_mode1  hc_mode2  hc_mode3  hc_mode4
0  10.963518  1.649155  1.156704  1.007944  1.002792
1  10.976142  1.657149  1.157650  1.008129  1.002759
2  11.236045  1.662103  1.156557  1.008163  1.002913
3  11.115489  1.668226  1.156233  1.008057  1.002892
4  11.266622  1.671334  1.155354  1.008415  1.002919

In [5]:
per=pd.read_csv('perm_78.csv')
perm=per.drop('BIS', axis=1)
perm.head()

   Perment_mode0  Perment_mode1  Perment_mode2  Perment_mode3  Perment_mode4
0       1.798818       1.771442       2.020405       2.519101       2.579941
1       1.798070       1.773353       2.024149       2.519226       2.580091
2       1.799470       1.772879       2.024517       2.519551       2.580149
3       1.797890       1.775260       2.025658       2.519878       2.580254
4       1.799452       1.781057       2.026029       2.519891       2.580337

In [6]:
pe=pd.read_csv('pet_78.csv')
pet=pe.drop('BIS', axis=1)
pet.head()

   pet_mode0  pet_mode1  pet_mode2  pet_mode3  pet_mode4
0   1.007098   1.006750   1.010203   1.021758   1.028787
1   1.007086   1.006774   1.010262   1.021764   1.028771
2   1.007104   1.006768   1.010268   1.021780   1.028766
3   1.007086   1.006798   1.010285   1.021796   1.028756
4   1.007104   1.006870   1.010291   1.021796   1.028745

In [7]:
dis=pd.read_csv('disp_78.csv')
disp=dis.drop('BIS', axis=1)
disp.head()

   Disp_mode0  Disp_mode1  Disp_mode2  Disp_mode3  Disp_mode4
0    1.033545    1.859028    1.858528    1.921983    1.650478
1    1.021608    1.856999    1.857244    1.923208    1.655998
2    1.018096    1.856561    1.855267    1.923253    1.653529
3    1.021724    1.856330    1.855127    1.924100    1.657103
4    1.014645    1.857938    1.852060    1.928164    1.660104

In [8]:
lzz=pd.read_csv('lzc_78.csv')
lzc=lzz.drop('BIS', axis=1)
lzc.head()

   lzc_mode0  lzc_mode1  lzc_mode2  lzc_mode3  lzc_mode4
0        587        554        662        836        307
1        588        558        666        837        309
2        589        561        664        834        310
3        592        553        660        833        312
4        587        553        662        835        308

In [9]:
hf=pd.read_csv('hfd_78.csv')
hfd=hf.drop('BIS', axis=1)
hfd.head()

   hfd_mode0  hfd_mode1  hfd_mode2  hfd_mode3  hfd_mode4
0   1.064519   1.184402   1.723874   2.031572   2.026296
1   1.063654   1.183686   1.725937   2.031471   2.026370
2   1.065609   1.184242   1.729039   2.031289   2.025578
3   1.065304   1.183321   1.729068   2.031453   2.025724
4   1.066615   1.184556   1.732382   2.031994   2.025941

In [10]:
spe=pd.read_csv('spec_78.csv')
spec=spe.drop('BIS', axis=1)
spec.head()

   spec_mode0  spec_mode1  spec_mode2  spec_mode3  spec_mode4
0    5.778660    7.917021    8.499814    8.623258    7.890193
1    5.717686    7.919189    8.522111    8.604323    7.884654
2    5.675952    7.932713    8.537083    8.603932    7.890818
3    5.698311    7.931043    8.537430    8.623535    7.869471
4    5.690081    7.934111    8.562505    8.649023    7.859598

In [11]:
sv=pd.read_csv('svd_78.csv')
svd=sv.drop('BIS', axis=1)
svd.head()

   svd_mode0  svd_mode1  svd_mode2  svd_mode3  svd_mode4
0   0.150483   0.823147   1.137937   1.284111   1.234948
1   0.150170   0.822628   1.139575   1.283918   1.233987
2   0.148651   0.822519   1.140382   1.284524   1.234405
3   0.148200   0.821694   1.140595   1.284247   1.234223
4   0.148143   0.822916   1.140730   1.285488   1.235285

In [12]:
dis=pd.read_csv('dispm_78.csv')
dispm=dis.drop('BIS', axis=1)
dispm.head()

   dispm_mode0  dispm_mode1  dispm_mode2  dispm_mode3  dispm_mode4
0     0.912049     1.630060     2.029612     1.980227     1.964798
1     0.907315     1.629150     2.030971     1.980722     1.966469
2     0.901229     1.628509     2.030210     1.978009     1.966705
3     0.901583     1.629749     2.031387     1.979825     1.963155
4     0.897969     1.631970     2.032480     1.979278     1.964489

In [13]:
kf=pd.read_csv('kfd_78.csv')
kfd=kf.drop('BIS', axis=1)
kfd.head()

   kfd_mode0  kfd_mode1  kfd_mode2  kfd_mode3  kfd_mode4
0   1.864939   2.945747   3.319919   5.753383   8.461322
1   1.836127   3.013168   3.637831   6.788134   7.812605
2   1.793216   2.815287   3.624438   7.648525   6.757882
3   1.859294   2.909636   3.751589   6.522455   7.543342
4   1.761595   2.855464   3.607600   6.075645   7.677002

In [14]:
det=pd.read_csv('detf_78.csv')
detf=det.drop('BIS', axis=1)
detf.head()

   detf_mode0  detf_mode1  detf_mode2  detf_mode3  detf_mode4
0    1.564278    0.551159    0.209443    0.015424    0.009570
1    1.553339    0.555325    0.208317    0.016041    0.007978
2    1.572562    0.553918    0.211824    0.016721    0.009047
3    1.565954    0.556891    0.208489    0.016365    0.009628
4    1.567315    0.557482    0.208024    0.016957    0.010174

In [15]:
# concatenate the data

patient_78_data= pd.concat([hm, hc, kfd, detf, perm, pet, lzc, svd, hfd, spec, disp, dispm], axis=1)
patient_78_data['BIS']=hm_bis
patient_78_data

,hm_mode0,hm_mode1,hm_mode2,hm_mode3,hm_mode4,hc_mode0,hc_mode1,hc_mode2,hc_mode3,hc_mode4,...,Disp_mode1,Disp_mode2,Disp_mode3,Disp_mode4,dispm_mode0,dispm_mode1,dispm_mode2,dispm_mode3,dispm_mode4,BIS
0,0.039770,0.280798,0.608682,1.442921,1.783390,10.963518,1.649155,1.156704,1.007944,1.002792,...,1.859028,1.858528,1.921983,1.650478,0.912049,1.630060,2.029612,1.980227,1.964798,90.9
1,0.039276,0.280162,0.610458,1.443002,1.783699,10.976142,1.657149,1.157650,1.008129,1.002759,...,1.856999,1.857244,1.923208,1.655998,0.907315,1.629150,2.030971,1.980722,1.966469,89.3
2,0.038627,0.279830,0.611846,1.442829,1.783454,11.236045,1.662103,1.156557,1.008163,1.002913,...,1.856561,1.855267,1.923253,1.653529,0.901229,1.628509,2.030210,1.978009,1.966705,88.1
3,0.039050,0.279153,0.612034,1.443320,1.783336,11.115489,1.668226,1.156233,1.008057,1.002892,...,1.856330,1.855127,1.924100,1.657103,0.901583,1.629749,2.031387,1.979825,1.963155,87.0
4,0.038910,0.279651,0.612545,1.442531,1.783134,11.266622,1.671334,1.155354,1.008415,1.002919,...,1.857938,1.852060,1.928164,1.660104,0.897969,1.631970,2.032480,1.979278,1.964489,87.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4060,0.144463,0.327210,0.663846,1.458944,1.782562,6.273992,1.888212,1.137938,1.006700,1.002401,...,1.899885,1.822490,1.944576,1.708463,1.187184,1.684854,2.050554,1.975642,1.971139,90.4
4061,0.143116,0.327153,0.662613,1.459281,1.782340,6.325934,1.884015,1.138101,1.006570,1.002352,...,1.898534,1.820036,1.941534,1.709664,1.186628,1.690150,2.049845,1.976474,1.967803,90.4
4062,0.142723,0.326861,0.661795,1.458229,1.781672,6.352710,1.884590,1.140903,1.006478,1.002385,...,1.895853,1.824408,1.944821,1.709813,1.177250,1.683647,2.050037,1.977321,1.971203,90.4
4063,0.142880,0.328514,0.661457,1.457461,1.781916,6.362270,1.881201,1.141326,1.006561,1.002375,...,1.897129,1.823692,1.946477,1.708174,1.177996,1.688588,2.049851,1.976847,1.969209,90.4
4064,0.143588,0.328368,0.663472,1.457402,1.781911,6.341385,1.888917,1.141022,1.006630,1.002409,...,1.896835,1.822682,1.942573,1.702793,1.193329,1.692035,2.048213,1.976194,1.968979,90.4

In [16]:
patient_78_data.to_csv('Patient 78_data.csv', index=False)