In [1]:
import pandas as pd

In [2]:
hmm=pd.read_csv('hm_270.csv')
hm=hmm.drop('BIS', axis=1)
hm.head()

   hm_mode0  hm_mode1  hm_mode2  hm_mode3  hm_mode4
0  0.031591  0.180336  0.738573  1.380313  1.884046
1  0.031507  0.180325  0.738340  1.380103  1.883524
2  0.031521  0.180333  0.738253  1.380310  1.883588
3  0.031514  0.180353  0.738217  1.380465  1.883863
4  0.031534  0.180321  0.738359  1.380409  1.883839

In [3]:
hm_bis=hmm['BIS']

In [4]:
hcc=pd.read_csv('hc_270.csv')
hc=hcc.drop('BIS', axis=1)
hc.head()

   hc_mode0  hc_mode1  hc_mode2  hc_mode3  hc_mode4
0  5.975707  1.456926  1.073070  1.007522  1.005128
1  6.008625  1.458029  1.073701  1.007685  1.005203
2  6.019324  1.459077  1.073627  1.007767  1.005161
3  6.033676  1.459845  1.074099  1.007752  1.005154
4  6.050735  1.461456  1.074431  1.007798  1.005140

In [5]:
per=pd.read_csv('perm_270.csv')
perm=per.drop('BIS', axis=1)
perm.head()

   Perment_mode0  Perment_mode1  Perment_mode2  Perment_mode3  Perment_mode4
0       1.637061       1.725218       2.090639       2.484195       2.528683
1       1.645358       1.728794       2.090608       2.484314       2.528933
2       1.637955       1.725795       2.090901       2.484792       2.529105
3       1.645806       1.723205       2.092601       2.485095       2.528773
4       1.635904       1.720521       2.094379       2.485681       2.529287

In [6]:
pe=pd.read_csv('pet_270.csv')
pet=pe.drop('BIS', axis=1)
pet.head()

   pet_mode0  pet_mode1  pet_mode2  pet_mode3  pet_mode4
0   1.005211   1.006197   1.011337   1.020372   1.032012
1   1.005314   1.006239   1.011337   1.020378   1.032002
2   1.005236   1.006203   1.011343   1.020394   1.031997
3   1.005333   1.006173   1.011372   1.020405   1.032007
4   1.005211   1.006143   1.011401   1.020427   1.031987

In [7]:
dis=pd.read_csv('disp_270.csv')
disp=dis.drop('BIS', axis=1)
disp.head()

   Disp_mode0  Disp_mode1  Disp_mode2  Disp_mode3  Disp_mode4
0    0.990662    1.691246    1.635046    1.985617    1.875282
1    0.987806    1.697678    1.633107    1.987145    1.876582
2    1.003865    1.697125    1.629190    1.991539    1.876175
3    0.991309    1.695945    1.630118    1.991655    1.880067
4    0.995557    1.691939    1.635325    1.992772    1.879500

In [8]:
lzz=pd.read_csv('lzc_270.csv')
lzc=lzz.drop('BIS', axis=1)
lzc.head()

   lzc_mode0  lzc_mode1  lzc_mode2  lzc_mode3  lzc_mode4
0       1505       1234       1234       1603        531
1       1491       1230       1238       1599        542
2       1498       1232       1237       1595        545
3       1501       1232       1230       1597        550
4       1507       1244       1236       1599        557

In [9]:
hf=pd.read_csv('hfd_270.csv')
hfd=hf.drop('BIS', axis=1)
hfd.head()

   hfd_mode0  hfd_mode1  hfd_mode2  hfd_mode3  hfd_mode4
0   1.024967   1.092031   1.935956   2.056402   2.071453
1   1.025636   1.091929   1.935525   2.056852   2.071248
2   1.025426   1.092119   1.935823   2.055954   2.070847
3   1.025710   1.092249   1.933944   2.055814   2.071245
4   1.025851   1.091746   1.934403   2.056205   2.070988

In [10]:
spe=pd.read_csv('spec_270.csv')
spec=spe.drop('BIS', axis=1)
spec.head()

   spec_mode0  spec_mode1  spec_mode2  spec_mode3  spec_mode4
0    5.492380    7.430421    8.802783    8.383566    9.188708
1    5.471951    7.427852    8.814698    8.382723    9.200429
2    5.480475    7.427702    8.798888    8.368721    9.203770
3    5.480618    7.426588    8.807075    8.370575    9.194181
4    5.482699    7.413743    8.813250    8.368304    9.190789

In [11]:
sv=pd.read_csv('svd_270.csv')
svd=sv.drop('BIS', axis=1)
svd.head()

   svd_mode0  svd_mode1  svd_mode2  svd_mode3  svd_mode4
0   0.183460   0.610984   1.180898   1.261403   1.239279
1   0.183129   0.611027   1.180934   1.261677   1.239712
2   0.183220   0.611106   1.180847   1.262906   1.239665
3   0.183214   0.611191   1.181290   1.263167   1.239209
4   0.183344   0.611210   1.181540   1.263659   1.239138

In [12]:
dis=pd.read_csv('dispm_270.csv')
dispm=dis.drop('BIS', axis=1)
dispm.head()

   dispm_mode0  dispm_mode1  dispm_mode2  dispm_mode3  dispm_mode4
0     0.881471     1.415368     2.072500     1.982084     1.946236
1     0.880933     1.417500     2.071695     1.984422     1.947302
2     0.888504     1.421226     2.071680     1.981838     1.946652
3     0.885262     1.419345     2.073060     1.981692     1.947122
4     0.884879     1.414954     2.071762     1.983565     1.948397

In [13]:
kf=pd.read_csv('kfd_270.csv')
kfd=kf.drop('BIS', axis=1)
kfd.head()

   kfd_mode0  kfd_mode1  kfd_mode2  kfd_mode3  kfd_mode4
0   1.653100   2.077980   3.522070   5.681988   5.824877
1   1.637544   2.070796   3.458743   5.348538   5.895514
2   1.629637   2.069075   3.516142   5.155365   5.781919
3   1.643504   2.069022   3.545930   5.755089   5.760903
4   1.638611   2.065238   3.578892   5.713621   5.689214

In [14]:
det=pd.read_csv('detf_270.csv')
detf=det.drop('BIS', axis=1)
detf.head()

   detf_mode0  detf_mode1  detf_mode2  detf_mode3  detf_mode4
0    1.638248    0.773302    0.161732    0.021549    0.010868
1    1.641508    0.775170    0.160203    0.021875    0.010470
2    1.651009    0.780126    0.160353    0.022441    0.011356
3    1.621054    0.771658    0.161805    0.022490    0.011329
4    1.651919    0.782639    0.159794    0.022109    0.010691

In [15]:
# concatenate the data

patient_270_data= pd.concat([hm, hc, kfd, detf, perm, pet, lzc, svd, hfd, spec, disp, dispm], axis=1)
patient_270_data['BIS']=hm_bis
patient_270_data

,hm_mode0,hm_mode1,hm_mode2,hm_mode3,hm_mode4,hc_mode0,hc_mode1,hc_mode2,hc_mode3,hc_mode4,...,Disp_mode1,Disp_mode2,Disp_mode3,Disp_mode4,dispm_mode0,dispm_mode1,dispm_mode2,dispm_mode3,dispm_mode4,BIS
0,0.031591,0.180336,0.738573,1.380313,1.884046,5.975707,1.456926,1.073070,1.007522,1.005128,...,1.691246,1.635046,1.985617,1.875282,0.881471,1.415368,2.072500,1.982084,1.946236,82.4
1,0.031507,0.180325,0.738340,1.380103,1.883524,6.008625,1.458029,1.073701,1.007685,1.005203,...,1.697678,1.633107,1.987145,1.876582,0.880933,1.417500,2.071695,1.984422,1.947302,78.9
2,0.031521,0.180333,0.738253,1.380310,1.883588,6.019324,1.459077,1.073627,1.007767,1.005161,...,1.697125,1.629190,1.991539,1.876175,0.888504,1.421226,2.071680,1.981838,1.946652,80.0
3,0.031514,0.180353,0.738217,1.380465,1.883863,6.033676,1.459845,1.074099,1.007752,1.005154,...,1.695945,1.630118,1.991655,1.880067,0.885262,1.419345,2.073060,1.981692,1.947122,80.0
4,0.031534,0.180321,0.738359,1.380409,1.883839,6.050735,1.461456,1.074431,1.007798,1.005140,...,1.691939,1.635325,1.992772,1.879500,0.884879,1.414954,2.071762,1.983565,1.948397,92.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4315,0.126604,0.272415,0.759151,1.380542,1.868291,7.360610,2.102607,1.055410,1.007816,1.007047,...,1.841692,1.535112,2.015151,1.870278,1.119148,1.604263,2.073926,1.973235,1.939992,82.5
4316,0.122055,0.272012,0.758940,1.380113,1.867956,7.659951,2.114308,1.055578,1.007780,1.007088,...,1.840227,1.532895,2.012942,1.869473,1.112484,1.601815,2.073981,1.973378,1.942177,82.5
4317,0.117227,0.272356,0.759667,1.379687,1.867951,7.970632,2.117134,1.055751,1.008025,1.007092,...,1.840944,1.540120,2.012415,1.868818,1.102734,1.603194,2.073897,1.973460,1.940608,82.5
4318,0.109472,0.273421,0.759055,1.378497,1.867304,8.542186,2.121218,1.055454,1.008112,1.007046,...,1.842961,1.532825,2.012430,1.865998,1.112474,1.603194,2.074555,1.974743,1.939497,82.5
4319,0.100814,0.273533,0.757870,1.377911,1.868897,9.279364,2.117899,1.055822,1.008046,1.006948,...,1.842733,1.538227,2.011385,1.866213,1.110624,1.606125,2.074173,1.974834,1.942358,82.5

In [16]:
patient_270_data.to_csv('Patient 270_data.csv', index=False)