In [1]:
import pandas as pd

In [2]:
hmm=pd.read_csv('hm_129.csv')
hm=hmm.drop('BIS', axis=1)
hm.head()

   hm_mode0  hm_mode1  hm_mode2  hm_mode3  hm_mode4
0  0.028866  0.218909  0.671871  1.745134  1.962908
1  0.029263  0.219049  0.672081  1.745050  1.962650
2  0.029675  0.219070  0.672171  1.745239  1.962572
3  0.029819  0.219218  0.671802  1.744543  1.962478
4  0.029840  0.218752  0.670172  1.744707  1.962493

In [3]:
hm_bis=hmm['BIS']

In [4]:
hcc=pd.read_csv('hc_129.csv')
hc=hcc.drop('BIS', axis=1)
hc.head()

    hc_mode0  hc_mode1  hc_mode2  hc_mode3  hc_mode4
0  15.245416  2.141952  1.249676  1.005980  1.007139
1  15.069774  2.142549  1.248707  1.005960  1.007190
2  14.819256  2.140388  1.248799  1.005960  1.007213
3  14.779572  2.134195  1.249375  1.005973  1.007238
4  14.670653  2.120550  1.250409  1.006028  1.007221

In [5]:
per=pd.read_csv('perm_129.csv')
perm=per.drop('BIS', axis=1)
perm.head()

   Perment_mode0  Perment_mode1  Perment_mode2  Perment_mode3  Perment_mode4
0       1.684429       1.820805       2.148116       2.582151       2.462350
1       1.695834       1.814695       2.132774       2.582948       2.467935
2       1.698991       1.805465       2.103992       2.583633       2.471070
3       1.706931       1.799396       2.104348       2.583780       2.474794
4       1.710224       1.798887       2.103296       2.583957       2.475203

In [6]:
pe=pd.read_csv('pet_129.csv')
pet=pe.drop('BIS', axis=1)
pet.head()

   pet_mode0  pet_mode1  pet_mode2  pet_mode3  pet_mode4
0   1.005732   1.007409   1.012386   1.028246   1.034013
1   1.005889   1.007319   1.012086   1.028043   1.033877
2   1.005956   1.007188   1.011569   1.027850   1.033802
3   1.006040   1.007110   1.011575   1.027772   1.033706
4   1.006082   1.007104   1.011558   1.027761   1.033696

In [7]:
dis=pd.read_csv('disp_129.csv')
disp=dis.drop('BIS', axis=1)
disp.head()

   Disp_mode0  Disp_mode1  Disp_mode2  Disp_mode3  Disp_mode4
0    0.968227    1.773764    1.909410    1.889426    2.017518
1    0.967042    1.785340    1.875255    1.871991    2.016747
2    0.967042    1.787355    1.841110    1.848807    2.013140
3    0.962521    1.793621    1.833202    1.848480    2.012061
4    0.963670    1.790115    1.834439    1.847578    2.009975

In [8]:
lzz=pd.read_csv('lzc_129.csv')
lzc=lzz.drop('BIS', axis=1)
lzc.head()

   lzc_mode0  lzc_mode1  lzc_mode2  lzc_mode3  lzc_mode4
0        966        794        758        647         60
1        978        801        769        655         60
2        993        811        776        663         60
3        996        818        784        663         60
4        992        820        780        657         60

In [9]:
hf=pd.read_csv('hfd_129.csv')
hfd=hf.drop('BIS', axis=1)
hfd.head()

   hfd_mode0  hfd_mode1  hfd_mode2  hfd_mode3  hfd_mode4
0   1.037936   1.136906   1.780061   2.029129   2.038106
1   1.038555   1.137619   1.781061   2.029210   2.038771
2   1.038197   1.137339   1.780841   2.028697   2.038467
3   1.038413   1.138657   1.780355   2.029958   2.038338
4   1.038615   1.136335   1.778591   2.029298   2.038943

In [10]:
spe=pd.read_csv('spec_129.csv')
spec=spe.drop('BIS', axis=1)
spec.head()

   spec_mode0  spec_mode1  spec_mode2  spec_mode3  spec_mode4
0    5.159544    7.715059    8.865900    8.762139    8.448127
1    5.205382    7.715984    8.863357    8.763239    8.449361
2    5.208142    7.713362    8.862639    8.762890    8.453214
3    5.204980    7.721512    8.876120    8.773267    8.452910
4    5.200847    7.724403    8.867021    8.765209    8.455456

In [11]:
sv=pd.read_csv('svd_129.csv')
svd=sv.drop('BIS', axis=1)
svd.head()

   svd_mode0  svd_mode1  svd_mode2  svd_mode3  svd_mode4
0   0.180384   0.731059   1.229042   1.300383   1.084679
1   0.181969   0.731402   1.228865   1.300344   1.086186
2   0.183656   0.731331   1.228973   1.300112   1.086856
3   0.184170   0.731508   1.228912   1.300445   1.087411
4   0.184783   0.729718   1.227906   1.301078   1.087182

In [12]:
dis=pd.read_csv('dispm_129.csv')
dispm=dis.drop('BIS', axis=1)
dispm.head()

   dispm_mode0  dispm_mode1  dispm_mode2  dispm_mode3  dispm_mode4
0     0.869572     1.497408     2.036672     1.976740     1.832678
1     0.866911     1.506559     2.043749     1.961236     1.837349
2     0.866782     1.513786     2.044897     1.954698     1.836600
3     0.863646     1.519575     2.045826     1.952196     1.833150
4     0.864351     1.515365     2.045495     1.954429     1.836419

In [13]:
kf=pd.read_csv('kfd_129.csv')
kfd=kf.drop('BIS', axis=1)
kfd.head()

   kfd_mode0  kfd_mode1  kfd_mode2  kfd_mode3  kfd_mode4
0   1.634948   2.512844   3.605942   3.382510   2.808980
1   1.634144   2.522320   3.629543   3.403433   2.818552
2   1.635064   2.531145   3.646407   3.423938   2.817905
3   1.778458   2.469506   3.499665   3.229364   2.802922
4   1.748547   2.424663   3.466771   3.433191   2.850714

In [14]:
det=pd.read_csv('detf_129.csv')
detf=det.drop('BIS', axis=1)
detf.head()

   detf_mode0  detf_mode1  detf_mode2  detf_mode3  detf_mode4
0    1.633963    0.704402    0.206541    0.011722    0.015771
1    1.645607    0.706433    0.207773    0.012163    0.016429
2    1.614469    0.704672    0.210002    0.011574    0.016042
3    1.621005    0.702019    0.207116    0.011117    0.015735
4    1.624039    0.702116    0.207720    0.011988    0.016437

In [15]:
# concatenate the data

patient_129_data= pd.concat([hm, hc, kfd, detf, perm, pet, lzc, svd, hfd, spec, disp, dispm], axis=1)
patient_129_data['BIS']=hm_bis
patient_129_data

,hm_mode0,hm_mode1,hm_mode2,hm_mode3,hm_mode4,hc_mode0,hc_mode1,hc_mode2,hc_mode3,hc_mode4,...,Disp_mode1,Disp_mode2,Disp_mode3,Disp_mode4,dispm_mode0,dispm_mode1,dispm_mode2,dispm_mode3,dispm_mode4,BIS
0,0.028866,0.218909,0.671871,1.745134,1.962908,15.245416,2.141952,1.249676,1.005980,1.007139,...,1.773764,1.909410,1.889426,2.017518,0.869572,1.497408,2.036672,1.976740,1.832678,94.0
1,0.029263,0.219049,0.672081,1.745050,1.962650,15.069774,2.142549,1.248707,1.005960,1.007190,...,1.785340,1.875255,1.871991,2.016747,0.866911,1.506559,2.043749,1.961236,1.837349,94.3
2,0.029675,0.219070,0.672171,1.745239,1.962572,14.819256,2.140388,1.248799,1.005960,1.007213,...,1.787355,1.841110,1.848807,2.013140,0.866782,1.513786,2.044897,1.954698,1.836600,94.1
3,0.029819,0.219218,0.671802,1.744543,1.962478,14.779572,2.134195,1.249375,1.005973,1.007238,...,1.793621,1.833202,1.848480,2.012061,0.863646,1.519575,2.045826,1.952196,1.833150,93.8
4,0.029840,0.218752,0.670172,1.744707,1.962493,14.670653,2.120550,1.250409,1.006028,1.007221,...,1.790115,1.834439,1.847578,2.009975,0.864351,1.515365,2.045495,1.954429,1.836419,93.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7020,0.035657,0.252169,0.650490,1.751832,1.954982,18.280655,2.222749,1.175170,1.004069,1.007519,...,1.847016,1.790456,1.832190,2.016393,0.920494,1.587553,2.046678,1.971859,1.795055,85.0
7021,0.036164,0.252810,0.652014,1.751807,1.954982,18.282000,2.213775,1.175828,1.004059,1.007523,...,1.845142,1.789233,1.832897,2.015921,0.912595,1.580294,2.045408,1.971271,1.801619,85.0
7022,0.035365,0.251512,0.653240,1.751749,1.954302,18.426673,2.188427,1.176901,1.004040,1.007629,...,1.846020,1.790801,1.833309,2.016583,0.908642,1.583605,2.043573,1.972293,1.802334,85.8
7023,0.036267,0.250407,0.651875,1.752505,1.954430,17.468915,2.146107,1.173256,1.003947,1.007566,...,1.842735,1.787722,1.831734,2.016932,0.928979,1.582702,2.046561,1.971555,1.802633,85.8
7024,0.036303,0.249048,0.651806,1.752462,1.953834,17.425663,2.142779,1.172554,1.003974,1.007692,...,1.838858,1.786815,1.834058,2.019861,0.935118,1.576798,2.046057,1.970203,1.807115,85.8

In [16]:
patient_129_data.to_csv('Patient 129_data.csv', index=False)